# Week 1 - The Business Environment

## Gapminder

Installing the `gapminder` package and loading it into the environment:

In [1]:
if (!('gapminder' %in% installed.packages())) {
    package.install('gapminder')
}
suppressWarnings(library('gapminder'))
data(gapminder)

Splicing a vector using `which`. This returns a vector of indices that satisfy the criteria.

In [2]:
aus <- gapminder$country=='Australia'
year <- gapminder$year==2007
index1 <- aus & year
gapminder[index1,]

  country   continent year lifeExp pop      gdpPercap
1 Australia Oceania   2007 81.235  20434176 34435.37

In [3]:
index2 <- which(gapminder$country=='Australia')
print(index2)
gapminder[index2,]

 [1] 61 62 63 64 65 66 67 68 69 70 71 72

   country   continent year lifeExp pop      gdpPercap
1  Australia Oceania   1952 69.120   8691212 10039.60
2  Australia Oceania   1957 70.330   9712569 10949.65
3  Australia Oceania   1962 70.930  10794968 12217.23
4  Australia Oceania   1967 71.100  11872264 14526.12
5  Australia Oceania   1972 71.930  13177000 16788.63
6  Australia Oceania   1977 73.490  14074100 18334.20
7  Australia Oceania   1982 74.740  15184200 19477.01
8  Australia Oceania   1987 76.320  16257249 21888.89
9  Australia Oceania   1992 77.560  17481977 23424.77
10 Australia Oceania   1997 78.830  18565243 26997.94
11 Australia Oceania   2002 80.370  19546792 30687.75
12 Australia Oceania   2007 81.235  20434176 34435.37

In [4]:
index3 <- which(gapminder$country=='Australia' & gapminder$year==2007)
print(index3)
gapminder[index3,]

[1] 72

  country   continent year lifeExp pop      gdpPercap
1 Australia Oceania   2007 81.235  20434176 34435.37

Splicing a vector using `match`. This returns the index of the first occurrence that satisifies the condition.

In [5]:
index4 <- match('Australia', gapminder$country)
print(index4)
gapminder[index4,]

[1] 61

  country   continent year lifeExp pop     gdpPercap
1 Australia Oceania   1952 69.12   8691212 10039.6

Splicing a vector using `%in%`. This returns a boolean vector of whether the value is in the object.

In [6]:
print(c('Australia', 'US') %in% gapminder$country)
print(c('Australia', 'United States') %in% gapminder$country)

[1]  TRUE FALSE
[1] TRUE TRUE

Using both `%in%` and `which` can be very powerful. Take the following example:
* `gapminder$country %in% c('Australia', 'United States') & gapminder$year==2007` returns a boolean vector.
* This wrapped inside the `which` function returns a vector of indices where the value is `True`

In [7]:
index5 <- which(gapminder$country %in% c('Australia', 'United States') & gapminder$year==2007)
print(index5)
gapminder[index5,]

[1]   72 1620

  country       continent year lifeExp pop       gdpPercap
1 Australia     Oceania   2007 81.235   20434176 34435.37
2 United States Americas  2007 78.242  301139947 42951.65

## Practice Questions

Question 3:

In [8]:
print(log2(5))

[1] 2.321928

Question 4:

In [9]:
print(seq(7, 50, 7))

[1]  7 14 21 28 35 42 49

Question 5:

In [10]:
if (!('babynames' %in% installed.packages())) {
    package.install('babynames')
}
suppressWarnings(library('babynames'))
data(babynames)

In [11]:
head(babynames)
help(babynames)
class(babynames$prop)

  year sex name      n    prop
1 1880 F   Mary      7065 0.07238359
2 1880 F   Anna      2604 0.02667896
3 1880 F   Emma      2003 0.02052149
4 1880 F   Elizabeth 1939 0.01986579
5 1880 F   Minnie    1746 0.01788843
6 1880 F   Margaret  1578 0.01616720

[1] "numeric"

* There are 5 variables in the `babynames` dataset.
* The `prop` variable is the proportion of people of that `sex` with that `name` born in that `year`.
* The `prop` variable is a numeric class.

Sorting the names vector once and storing it as a variable, `sortedNames`, so it doesn't need to be re-sorted multiple times.

In [12]:
sortedNames = sort(babynames$name)

In [13]:
paste('The first name when sorted alphabetically is', sortedNames[1])

[1] "The first name when sorted alphabetically is Aaban"

The corresponding `prop` values to the first `name`, Aaban are:

In [31]:
filter1 <- which(babynames$name==sortedNames[1])
babynames[filter1,]

   year sex name  n  prop
1  2007 M   Aaban  5 2.26e-06
2  2009 M   Aaban  6 2.83e-06
3  2010 M   Aaban  9 4.39e-06
4  2011 M   Aaban 11 5.42e-06
5  2012 M   Aaban 11 5.43e-06
6  2013 M   Aaban 14 6.94e-06
7  2014 M   Aaban 16 7.83e-06
8  2015 M   Aaban 15 7.36e-06
9  2016 M   Aaban  9 4.46e-06
10 2017 M   Aaban 11 5.60e-06

In [33]:
sortedProp <- sort(babynames$prop, decreasing=T)
paste('The prop with the highest value is', sortedProp[1])

[1] "The prop with the highest value is 0.08154561"

In [38]:
filter2 <- match(sortedProp[1], babynames$prop)
paste('The name corresponding to the highest prop value is', babynames$name[filter2])

[1] "The name corresponding to the highest prop value is John"

Question 6:

In [42]:
data(lifetables)
head(lifetables)

  x qx      lx     dx    Lx    Tx      ex    sex year
1 0 0.14596 100000 14596 90026 5151511 51.52 M   1900
2 1 0.03282  85404  2803 84003 5061484 59.26 M   1900
3 2 0.01634  82601  1350 81926 4977482 60.26 M   1900
4 3 0.01052  81251   855 80824 4895556 60.25 M   1900
5 4 0.00875  80397   703 80045 4814732 59.89 M   1900
6 5 0.00628  79693   501 79443 4734687 59.41 M   1900

The `sex` variable is the factor vector and has two levels: `M`, and `F`

In [45]:
levels(lifetables$sex)

[1] "M" "F"

Finding the corresponding x (age) when lx=76 using:
1. Logicals and []
1. `which()`
1. `match()`
1. `which()` and `%in%`

In [53]:
lifetables[lifetables$lx==76,]
lifetables[which(lifetables$lx==76),]
lifetables[match(76, lifetables$lx),]
lifetables[which(lifetables$lx %in% 76),]

  x   qx      lx dx Lx Tx  ex   sex year
1 114 0.42433 76 32 60 130 1.72 F   2010

  x   qx      lx dx Lx Tx  ex   sex year
1 114 0.42433 76 32 60 130 1.72 F   2010

  x   qx      lx dx Lx Tx  ex   sex year
1 114 0.42433 76 32 60 130 1.72 F   2010

  x   qx      lx dx Lx Tx  ex   sex year
1 114 0.42433 76 32 60 130 1.72 F   2010

Finding the corresponding x (age) when dx=88 and year=1930:

In [56]:
filter3 <- (lifetables$dx==88) & (lifetables$year==1930)
lifetables[filter3,]

  x  qx      lx    dx Lx    Tx      ex    sex year
1 12 0.00098 90630 88 90585 5508047 60.78 M   1930

Find the corresponding x (age) for the the minimum qx value:

In [58]:
lifetables[lifetables$qx==min(lifetables$qx),]

  x  qx    lx    dx Lx    Tx      ex    sex year
1 10 7e-05 99251 7  99247 7103080 71.57 M   2010

Subsetting the 12th-15th observations of x:

In [59]:
lifetables[12:15,]

  x  qx      lx    dx  Lx    Tx      ex    sex year
1 11 0.00217 78044 169 77960 4262653 54.62 M   1900
2 12 0.00212 77875 165 77793 4184693 53.74 M   1900
3 13 0.00239 77710 186 77617 4106900 52.85 M   1900
4 14 0.00254 77525 197 77426 4029283 51.97 M   1900

Show that both `sort()` and `order()` will give the same result:

In [78]:
sort(lifetables$qx)[1:10]

 [1] 7e-05 8e-05 8e-05 8e-05 9e-05 9e-05 9e-05 9e-05 1e-04 1e-04

In [79]:
lifetables$qx[order(lifetables$qx)][1:10]

 [1] 7e-05 8e-05 8e-05 8e-05 9e-05 9e-05 9e-05 9e-05 1e-04 1e-04